doctype html
html
head 
body
p Doctor Registration
h3 Contact Details
ul
li FullName: #{userName}
li Email ID: #{userEmail}
li MCI Reg No: #{mciRegNumber}
li Mobile No: #{phoneNo}
li Speciality: #{speciality}
li Experience: #{experience}


